@model Assembly
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/css.css">

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a asp-controller="Assembly" asp-action="Index" class="btn btn-sm btn-warning mb-3 text-white btn-outline-secondary">Назад</a>
            <h3 class="my-3">Серийный номер: @Model.PartySerialNumber</h3>
            <h4>Тип девайса: @Model.TypeDevice</h4>
            <h3 class="my-3">Подробности</h3>
            <ul>
				<li>Дата: @Model.DateCreate</li>
                <li>Закзчик: @Model.Company</li>
                <li>Замена компонентов: @Model.ChangeComponents</li>
                <li>Другие работы: @Model.OtherWork</li>
            </ul>
            <table class="table">
			<tbody>
				<tr>
					<td>#</td>
					<td>Шаг</td>
					<td>Выполнил</td>
				</tr>
				<tr>
					<td>1</td>
					<td>@Model.Step1 </td>
					<td>@Model.People1 </td>
				</tr>
				<tr>
					<td>2</td>
					<td>@Model.Step2 </td>
					<td>@Model.People2 </td>
				</tr>
				<tr>
					<td>3</td>
					<td>@Model.Step3 </td>
					<td>@Model.People3 </td>
				</tr>
				<tr>
					<td>4</td>
					<td>@Model.Step4 </td>
					<td>@Model.People4 </td>
				</tr>
				<tr>
					<td>5</td>
					<td>@Model.Step5 </td>
					<td>@Model.People5 </td>
				</tr>
			</tbody>
		</table>
		@{
			if(Model.CheckEngenire){
				<div class="alert alert-success" role="alert">
				  Инженер ОТК проверил данную сборку
				</div>
			}
				
		}
        </div>
    </div>
</div>
<a asp-controller="Assembly" asp-action="Edit" asp-route-id="@Model.Id" class="border-3 btn btn-sm btn-outline-warning ">Изменить</a>
<a asp-controller="Assembly" asp-action="Delete" asp-route-id="@Model.Id" class="border-3 btn btn-sm btn-outline-danger ">Удалить</a>
@{
	if (Model.CheckEngenire)
	{
		<a asp-controller="Assembly" asp-action="GetFileSerialNumber" class="border-3 btn btn-sm btn-outline-danger ">Печать Документа</a>
		<a asp-controller="Assembly" asp-action="GetSertificationFile" asp-route-id="@Model.Id" class="border-3 btn btn-sm btn-outline-danger ">Печать спецефикации</a>
		<a asp-controller="Assembly" asp-action="GetSignatureFile" asp-route-id="@Model.Id" class="border-3 btn btn-sm btn-outline-danger ">Печать документа с Подписями</a>	
	}
}
