@model Assembly
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a asp-controller="Assembly" asp-action="Index" class="btn btn-sm btn-warning mb-3 text-white btn-outline-secondary">Назад</a>
            <h3 class="my-3">Серийный номер: @Model.SerialNumber</h3>
            <p>Тип девайса: @Model.TypeDevice</p>
            <h3 class="my-3">Подробности</h3>
            <ul>
                <li>Закзчик: @Model.Company</li>
                <li>Замена компонентов: @Model.ChangeComponents</li>
                <li>Другие работы: @Model.OtherWork</li>
            </ul>
            <table class="table">
			<tbody>
				<tr>
					<td>#</td>
					<td>Шаг</td>
					<td>Выполнил</td>
				</tr>
				<tr>
					<td>1</td>
					<td>@Model.Step1 </td>
					<td>@Model.People1 </td>
				</tr>
				<tr>
					<td>2</td>
					<td>@Model.Step2 </td>
					<td>@Model.People2 </td>
				</tr>
				<tr>
					<td>3</td>
					<td>@Model.Step3 </td>
					<td>@Model.People3 </td>
				</tr>
				<tr>
					<td>4</td>
					<td>@Model.Step4 </td>
					<td>@Model.People4 </td>
				</tr>
				<tr>
					<td>5</td>
					<td>@Model.Step5 </td>
					<td>@Model.People5 </td>
				</tr>
			</tbody>
		</table>
		<h4>Проверил Инженер ОТК: <input type="checkbox" /></h4>
        </div>
    </div>
</div>
<a asp-controller="Assembly" asp-action="Edit" asp-route-id="@Model.Id" class="border-3 btn btn-sm btn-outline-warning ">Изменить</a>
<a asp-controller="Assembly" asp-action="Delete" asp-route-id="@Model.Id" class="border-3 btn btn-sm btn-outline-danger ">Удалить</a>
<a asp-controller="Assembly" asp-action="Print" asp-route-id="@Model.Id"  class="border-3 btn btn-sm btn-outline-danger ">Print</a>