@using OptionWebApplication.Data.Enum
@using OptionWebApplication.ViewModels
@model EditAssemblyViewModel


<link rel="stylesheet" href="~/css/css_assembl.css">


<a asp-controller="Assembly" asp-action="Index" class="btn btn-sm btn-warning mb-3 text-white btn-outline-secondary">Назад</a>
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="content_container">
        <div class="in">
            <p>Дата создания карточки сборки:</p>
            <input asp-for="DateCreate" type="date" class="input_data" placeholder="xx.xx.xxxx">
        </div>
        
        <div class="in">
            <p>Первый серийный номер сборки:</p>
            <input asp-for="SerialNumber" type="text" class="input_data" placeholder="Серийный номер...">
        </div>

        <div class="in">
            <p>Количество устройств в партии:</p>
            <input asp-for="Party" type="text" class="input_data" placeholder="10...">
        </div>
        
        <div class="in">
            <p>Заказчик:</p>
            <input asp-for="Company" type="text" class="input_data" placeholder="Наименование организации">
        </div>
        
        <div class="in">
            <p>Тип устройства:</p>
            <select asp-for="TypeDevice" asp-items="@Html.GetEnumSelectList<TypeDevice>()" class="input_data">
                <option></option>
            </select>
        </div>
        
         <div class="in">
            <p>Комплектующие под замену:</p>
            <input asp-for="Component" type="text" class="input_data" placeholder="Наименование по спецификации">
          </div>
          
          <div class="in">
            <p>Новые комплектующие:</p>
            <input asp-for="ChangeComponents" type="text" class="input_data" placeholder="Мат.плата Gigabyte...">
          </div>

          <div class="in">
            <p>Дополнительные работы:</p>
            <input asp-for="OtherWork" type="text" class="input_data" placeholder="Установка ОС(ПО), установка аудио-портов...">
          </div>
          
          <h3>Этапы сборки</h3>

          <div class="in">
            <p>1 Шаг</p>
            <input asp-for="Step1" type="text" class="input_data" >
          </div>

          <div class="in">
            <p>2 Шаг</p>
            <input asp-for="Step2" type="text" class="input_data" >
          </div

          <div class="in">
            <p>3 Шаг</p>
            <input asp-for="Step3" type="text" class="input_data" >
          </div>

          <div class="in">
            <p>4 Шаг</p>
            <input asp-for="Step4" type="text" class="input_data" >
          </div>

          <div class="in">
            <p>5 Шаг</p>
            <input asp-for="Step5" type="text" class="input_data" >
          </div>

          <h3>Ответственные лица: </h3>

          <div class="in">
            <p></p>
            <select asp-for="People1" asp-items="@Html.GetEnumSelectList<People>()" class="input_data">
                <option></option>
            </select>
          </div>

          <div class="in">
            <p></p>
            <select asp-for="People2" asp-items="@Html.GetEnumSelectList<People>()" class="input_data">
                <option></option>
            </select>
          </div>

          <div class="in">
            <p></p>
            <select asp-for="People3" asp-items="@Html.GetEnumSelectList<People>()" class="input_data">
                <option></option>
            </select>
          </div>

          <div class="in">
            <p></p>
            <select asp-for="People4" asp-items="@Html.GetEnumSelectList<People>()" class="input_data">
                <option></option>
            </select>
          </div>

          <div class="in">
            <p></p>
            <select asp-for="People5" asp-items="@Html.GetEnumSelectList<People>()" class="input_data">
                <option></option>
            </select>
          </div>

          <div class="in">
            <p>Прикрепите файл с подписями сотрудников</p>
            <input type="file" name="uploadedFile" class="input_data" />
          </div>

          <div class="in">
            <p>Прикрепите файл сертификации</p>
            <input type="file" name="setificateFile" class="input_data" />
          </div>

          <div class="in">
            <p>Проверил Инженер ОТК:</p>
            <input asp-for="CheckEngenire" type="checkbox"/>
          </div>
          <button type="submit" class="btn btn-primary mt-2">Изменить</button>
    </div>
    
    
</form>