@model Guarentee
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a asp-controller="Guarentee" asp-action="Index" class="btn btn-sm btn-warning text-white mb-3 btn-outline-secondary">Назад</a>  
            <h3 class="my-3">Серийный номер: @Model.SerialNumber</h3>
            <p>Тип девайса: @Model.TypeDevice</p>
            <h3 class="my-3">Подробности</h3>
            <ul>
                <li>Дата получения: @Model.DateIn</li>
                <li>Дата отправки: @Model.DateOut</li>
                <li>Детали: @Model.Details</li>
                <li>Неисправности: @Model.FaultDetection</li>
                <li>Заключение: @Model.Conclusion</li>
                <li>Диагностику проводил: @Model.DiagnosticPeople</li>
                <li>Проведеные работы: @Model.ComplectedWork</li>
                <li>Ремонт произвёл: @Model.RepairPeople</li>
            </ul>
        </div>
    </div>
</div>
<a asp-controller="Guarentee" asp-action="Delete" asp-route-id="@Model.Id" class="btn text-white btn-danger btn-sm btn-outline-secondary">Удалить</a>